.button{
  display: inline-block;
  color: var(--primary-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px; /* 162.5% */
  letter-spacing: 2.286px;
  padding-bottom: 10px;
  text-transform: uppercase;
  border-bottom: 2px solid var(--secondary-color);
  transition: ease-in .2s;
  &:hover{
    cursor: pointer;
    color: var(--secondary-color);
  }
}